set nocompatible
set backspace=indent,eol,start

set whichwrap+=<,>,h,l

inoremap fd <Esc>

set incsearch
set ignorecase
set smartcase
set hlsearch

set clipboard=unnamedplus

nnoremap U <C-r>

" IdeaVim
nnoremap <Space><Space>x :action IdeaVim.ReloadVimRc.reload<CR>

" Code
nnoremap <Space>cf :action ReformatCode<CR>

" File search
nnoremap <Space>fs :action ShowSettings<CR>
nnoremap <Space>fa :action SearchEverywhere<CR>
nnoremap <Space>fd :action GotoFile<CR>
nnoremap <Space>fb :action RecentFiles<CR>