set nocompatible
set backspace=indent,eol,start

set whichwrap+=<,>,h,l

inoremap fd <Esc>

set incsearch
set ignorecase
set smartcase
set hlsearch

set clipboard=unnamedplus

nnoremap U <C-r>

set ideavim_visual_star
